.grid{
    display: flex;
    flex-wrap: wrap;
    /* row-gap: 20px; */
    gap: 0 60px;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background: none;
    margin: 0 20px;
}
button:active{
    border: 1px solid orange;
}
.item{
    display: flex;
    margin: 30px 0;
}
.item img{
    border-radius: 0;
    width: 150px;
    height: 150px;
    border: 1px solid orange;
}
.div p{
    width: 400px;
    color: grey;
}
.underline{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.3px solid grey;
    padding-bottom: 20px;
}